*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    width: 100vw;
    height: 100vh;
}

#cuadro{
left: 0;
background-color: blue;
width: 400px;
height: 300px;
}

.cir{
width: 100px;
height: 100px;
background-color: red;
border-radius: 50%;
top: calc(50%-50px);
}